$bg-color: red;

$color-primary: pink;
$color-secondary: yellow;
$color-danger: red;

$hover-pink: pink;

$hover-div:url(17-10-17-3-845x563.jpg);
$display-none:none;
$h-w: 300px;
$border:2px solid black;

$gradient1:red;
$gradient2:yellow;

$space:30px 60px;
$inline:flex;
// $navbar:flex;
